/*  your css code here. If applicable */
.grid-item{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.grid-container{
	display:grid;
/* 	display:flex;
	flex-wrap:wrap; */
	grid-template-columns:repeat(9,1fr);
	gap:10px 10px;
}
@media screen and (max-width:1200px){
	.grid-container{
		display:grid;
		grid-template-columns:repeat(8,1fr);
		
	}
}
@media screen and (max-width:992px){
	.grid-container{
		display:grid;
		grid-template-columns:repeat(7,1fr);
		
	}
}
@media screen and (max-width:768px){
	.grid-container{
		display:grid;
		grid-template-columns:repeat(6,1fr);
		
	}
}
@media screen and (max-width:576px){
	.grid-container{
		display:grid;
		grid-template-columns:repeat(5,1fr);
		
	}
}
@media screen and (max-width:480px){
	.grid-container{
		display:grid;
		grid-template-columns:repeat(4,1fr);
		
	}
}