/*  your css code here. If applicable */
.grid-item{
	background-color:lightgray;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	
}
.grid-container{
	display:grid;
	gap:10px ;
/* 	justify-content:center; */
	grid-template-columns:repeat(auto-fill, minmax(200px,1fr))
}
